$text-color:rgb(38, 39, 39);
$input-color:rgb(128, 130, 131);
$btn-color:rgb(255, 255, 255);
$btn-background: rgb(11, 104, 34);
$btn-background-1: rgb(82, 117, 230);
$error-background: rgb(233, 27, 27);